.block-ui {
    @include size(100%);
}

.block-ui-container {
    animation: fadeIn 350ms forwards ease;
    z-index: LayoutLevel('medium');
}

.block-ui-overlay {
    background-color: rgba(0, 0, 0, .8);
}

.block-ui-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}