.block-ui-container {
  -webkit-animation: fadeIn 350ms forwards ease;
          animation: fadeIn 350ms forwards ease;
}

.block-ui-overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

.block-ui-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=BlockUi.css.map */