.picker__box {
    border: none !important;
}

.datepicker-calendar-container,
.timepicker-analog-display {
    background-color: map-deep-get($themes, 'dark', 'colors', 'elem', 'primary', 'main');
    color: themed($themes, 'dark', 'colors', 'text', 'primary', 'main');
}

/* .picker__day--infocus:hover {
    @include createTheme($themes, 'global') {
        color: themed('colors', 'text', 'primary', 'hover');
    }
} */