.outline-wrapper {
    position: absolute;
    display: flex;
    align-content: center;
    @include size(100%);

    & .outline-part {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: inherit;
        flex: 0;
        height: 1px;

        &.outline-top-part {
            top: 0;
        }

        &.outline-bottom-part {
            bottom: 0;
        }

        & .outline-line {
            transition-property: transform;
            position: relative;
            min-height: 1px;
            flex: 1 0;
            transform: scale3d(.5, .5, .5);
        }
    }

    & .outline-line {
        transition-duration: map-deep-get($themes, 'dark', 'sharedTransitions', 'durations', 'Sm');
        transition-timing-function: map-deep-get($themes, 'dark', 'sharedTransitions', 'timingFunctions', 'ease');
    }

}