@import '../../shared/shared-variables';
@import './theme-dark-color-palette';
@import '../../shared/shared-color-palettes';

// Background
$theme-dark-bodyBgColor: map-deep-get($dark-color-palette, 'primary-palette', 'base');

// $theme-dark-bodyBgColor: map-deep-get($dark-color-palette, 'primary-palette', 'base');

/* Brand */
// Brand Default
$theme-dark-primaryColor: map-deep-get($dark-color-palette, 'primary-palette', 700); 
$theme-dark-primaryHoverColor: lighten(map-deep-get($dark-color-palette, 'primary-palette', 700), 3%);
$theme-dark-primaryAccentColor: lighten(map-deep-get($dark-color-palette, 'primary-palette', 'base'), 7%);
$theme-dark-primaryDarkColor: map-deep-get($dark-color-palette, 'primary-palette', 800); 
$theme-dark-primaryLightColor: map-deep-get($dark-color-palette, 'primary-palette', 600); 

// Brand secondary
$theme-dark-secondaryColor: map-deep-get($dark-color-palette, 'secondary-palette', 700);
$theme-dark-secondaryAccentColor: lighten(map-deep-get($dark-color-palette, 'secondary-palette', 'base'), 7%);
$theme-dark-secondaryHoverColor: map-deep-get($dark-color-palette, 'secondary-palette', 900);

/* Brand end */

/* Brand Text begin */
$theme-dark-primaryTextColor: map-deep-get($dark-color-palette, 'primary-palette', 100);
$theme-dark-primaryAccentTextColor: map-deep-get($dark-color-palette, 'primary-palette', 50);
$theme-dark-primaryAccentTextColorHover: #fff;
$theme-dark-secondaryTextColor: map-deep-get($dark-color-palette, 'secondary-palette', 100);
$theme-dark-secondaryAccentTextColor: map-deep-get($dark-color-palette, 'secondary-palette', 50);
/* Brand Text end */

/* State begin */
// Success Default
$theme-dark-successColor:  map-deep-get($shared-color-palettes, 'shared-green', 800);
// Success Hover
$theme-dark-successHoverColor: map-deep-get($shared-color-palettes, 'shared-green', 900);
// Success Accent
$theme-dark-successAccentColor: lighten(map-deep-get($shared-color-palettes, 'shared-green', 'base'), 7%);

// Warning Default
$theme-dark-warningColor: map-deep-get($shared-color-palettes, 'shared-orange', 800);
// Warning Hover
$theme-dark-warningHoverColor: map-deep-get($shared-color-palettes, 'shared-orange', 900);
// Warning Accent
$theme-dark-warningAccentColor: lighten(map-deep-get($shared-color-palettes, 'shared-orange', 'base'), 7%);

 // Danger Default
$theme-dark-dangerColor:  map-deep-get($shared-color-palettes, 'shared-red', 800);
// Danger Hover
$theme-dark-dangerHoverColor: map-deep-get($shared-color-palettes, 'shared-red', 900);
// Danger Accent
$theme-dark-dangerAccentColor: lighten(map-deep-get($shared-color-palettes, 'shared-red', 'base'), 7%);

// Info Default
$theme-dark-infoColor: map-deep-get($shared-color-palettes, 'shared-blue', 800);
// Info Hover
$theme-dark-infoHoverColor: map-deep-get($shared-color-palettes, 'shared-blue', 900);

/* State end */

/* State Text begin */
$theme-dark-successTextColor: map-deep-get($shared-color-palettes, 'shared-green', 'A100');
$theme-dark-warningTextColor: map-deep-get($shared-color-palettes, 'shared-orange', 'A100');
$theme-dark-dangerTextColor: map-deep-get($shared-color-palettes, 'shared-red', 'A100');
$theme-dark-infoTextColor: map-deep-get($shared-color-palettes, 'shared-blue', 'A100');
$theme-dark-textMuted: map-deep-get($shared-color-palettes, 'shared-grey', 50);
/* State Text end */

// Links
$theme-dark-linkColor: darken($theme-dark-primaryTextColor, 5%);
$theme-dark-linkHoverColor: $theme-dark-secondaryHoverColor; 

/* Shadows begin */
// Text
$theme-dark-textShadow: 0 0 10px $theme-dark-linkHoverColor;
$theme-dark-textShadowSuccess: 0 0 10px $theme-dark-successTextColor;
$theme-dark-textShadowWarning: 0 0 10px $theme-dark-warningTextColor;
$theme-dark-textShadowDanger: 0 0 10px $theme-dark-dangerTextColor;
$theme-dark-textShadowInfo: 0 0 10px $theme-dark-infoTextColor;

// Box
// [+] Default begin...
$theme-dark-materialBoxShadowPrimaryXs: 0 3px 6px rgba(map-deep-get($dark-color-palette, 'primary-palette', 900), 0.16),
 0 3px 6px rgba(map-deep-get($dark-color-palette, 'primary-palette', 900), 0.23);

 $theme-dark-materialBoxShadowPrimarySm: 0 10px 20px rgba(map-deep-get($dark-color-palette, 'primary-palette', 900), 0.19),
 0 6px 6px  rgba(map-deep-get($dark-color-palette, 'primary-palette', 900), 0.23);

 $theme-dark-materialBoxShadowPrimaryMd: 0 14px 28px rgba(map-deep-get($dark-color-palette, 'primary-palette', 900), 0.25),
 0 10px 10px rgba(map-deep-get($dark-color-palette, 'primary-palette', 900), 0.22);

 $theme-dark-materialBoxShadowPrimaryLg: 0 19px 38px rgba(map-deep-get($dark-color-palette, 'primary-palette', 900), 0.30),
 0 15px 12px rgba(map-deep-get($dark-color-palette, 'primary-palette', 900), 0.22);
// [-] Default end

// [+] Secondary begin...
$theme-dark-materialBoxShadowSecondaryXs: 0 3px 6px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.16),
 0 3px 6px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.23);

 $theme-dark-materialBoxShadowSecondarySm: 0 10px 20px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.19),
 0 6px 6px  rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.23);

 $theme-dark-materialBoxShadowSecondaryMd: 0 14px 28px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.25),
 0 10px 10px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.22);

 $theme-dark-materialBoxShadowSecondaryLg: 0 19px 38px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.30),
 0 15px 12px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.22);
// [-] Secondary end

// [+] Success begin...
$theme-dark-materialBoxShadowSuccessXs: 0 3px 6px rgba(map-deep-get($shared-color-palettes, 'shared-green', 'A400'), 0.16),
 0 3px 6px rgba(map-deep-get($shared-color-palettes, 'shared-green', 'A400'), 0.23);

 $theme-dark-materialBoxShadowSuccessSm: 0 10px 20px rgba(map-deep-get($shared-color-palettes, 'shared-green', 'A400'), 0.19),
 0 6px 6px  rgba(map-deep-get($shared-color-palettes, 'shared-green', 'A400'), 0.23);

 $theme-dark-materialBoxShadowSuccessMd: 0 14px 28px rgba(map-deep-get($shared-color-palettes, 'shared-green', 'A400'), 0.25),
 0 10px 10px rgba(map-deep-get($shared-color-palettes, 'shared-green', 'A400'), 0.22);

 $theme-dark-materialBoxShadowSuccessLg: 0 19px 38px rgba(map-deep-get($shared-color-palettes, 'shared-green', 'A400'), 0.30),
 0 15px 12px rgba(map-deep-get($shared-color-palettes, 'shared-green', 'A400'), 0.22);
// [-] Success end

// [+] Warning begin...
$theme-dark-materialBoxShadowDefaultXs: 0 3px 6px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.16),
 0 3px 6px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.23);

 $theme-dark-materialBoxShadowDefaultSm: 0 10px 20px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.19),
 0 6px 6px  rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.23);

 $theme-dark-materialBoxShadowDefaultMd: 0 14px 28px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.25),
 0 10px 10px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.22);

 $theme-dark-materialBoxShadowDefaultLg: 0 19px 38px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.30),
 0 15px 12px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.22);
// [-] Warning end

// [+] Danger begin...
$theme-dark-materialBoxShadowDefaultXs: 0 3px 6px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.16),
 0 3px 6px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.23);

 $theme-dark-materialBoxShadowDefaultSm: 0 10px 20px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.19),
 0 6px 6px  rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.23);

 $theme-dark-materialBoxShadowDefaultMd: 0 14px 28px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.25),
 0 10px 10px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.22);

 $theme-dark-materialBoxShadowDefaultLg: 0 19px 38px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.30),
 0 15px 12px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.22);
// [-] Danger end

// [+] Info begin...
$theme-dark-materialBoxShadowDefaultXs: 0 3px 6px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.16),
 0 3px 6px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.23);

 $theme-dark-materialBoxShadowDefaultSm: 0 10px 20px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.19),
 0 6px 6px  rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.23);

 $theme-dark-materialBoxShadowDefaultMd: 0 14px 28px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.25),
 0 10px 10px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.22);

 $theme-dark-materialBoxShadowDefaultLg: 0 19px 38px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.30),
 0 15px 12px rgba(map-deep-get($dark-color-palette, 'secondary-palette', 900), 0.22);
// [-] Info end

 // Glow
$theme-dark-glowBoxShadow: 0 0 15px .5px $theme-dark-linkHoverColor;
 
/* Shadows end */

/* Misc Begin */
// Scrollbar...
$theme-dark-scrollbarThumbColor: $theme-dark-secondaryColor;
$theme-dark-scrollbarThumbHoverColor: $theme-dark-secondaryHoverColor;
$theme-dark-scrollbarThumbActiveColor: darken(map-deep-get($dark-color-palette, 'secondary-palette', 900), 8%);
/* Misc end */