@import './theme-dark-variables';
@import '../../shared/shared';

$theme-dark: (
/*     meta: (
        name: 'dark'
    ), */
    colors: (
        bodyBg: $theme-dark-bodyBgColor,
        elem: (
            primary: (
                main:  $theme-dark-primaryColor,
                accent: $theme-dark-primaryAccentColor,
                hover: $theme-dark-primaryHoverColor,
                dark: $theme-dark-primaryDarkColor,
                light: $theme-dark-primaryLightColor
            ),
            secondary: (
                main:  $theme-dark-secondaryColor,
                accent: $theme-dark-secondaryAccentColor,
                hover: $theme-dark-secondaryHoverColor,
            ),
            success: (
                main: $theme-dark-successColor,
                accent: $theme-dark-successAccentColor,
                hoverColor: $theme-dark-successHoverColor,
            ),
            warning: (
                main: $theme-dark-warningColor,
                accent: $theme-dark-warningAccentColor,
                hoverColor: $theme-dark-warningHoverColor,
            ),
          danger: (
                main: $theme-dark-dangerColor,
                accent: $theme-dark-dangerAccentColor,
                hoverColor: $theme-dark-dangerHoverColor
            ),
            info: (
                main: $theme-dark-infoColor,
                hover: $theme-dark-infoHoverColor,
            )
        ),
        text: (
            primary: (
                main: $theme-dark-primaryTextColor,
                accent: $theme-dark-primaryAccentTextColor,
                hover: $theme-dark-primaryAccentTextColorHover
            ),
            secondary: (
                main: $theme-dark-secondaryTextColor,
                accent: $theme-dark-secondaryAccentTextColor
            ),
            success: $theme-dark-successTextColor,
            warning: $theme-dark-warningTextColor,
            danger: $theme-dark-dangerTextColor,
            info: $theme-dark-infoTextColor,
            muted: $theme-dark-textMuted,
        ),
        link: (
            main: $theme-dark-linkColor,
            hover: $theme-dark-linkHoverColor,
        )
    ),
    textShadow: (
        type: (
        'default': $theme-dark-textShadow,
        'success': $theme-dark-textShadowSuccess,
        'warning': $theme-dark-textShadowWarning,
        'danger': $theme-dark-textShadowDanger,
        'info': $theme-dark-textShadowInfo,
        )
    ),
    linkTextShadow: $theme-dark-textShadow,
    glowBoxShadow: $theme-dark-glowBoxShadow,
    boxShadow: (
        material: (
            primary: (
                Xs: $theme-dark-materialBoxShadowPrimaryXs,
                Sm: $theme-dark-materialBoxShadowPrimarySm,
                Md: $theme-dark-materialBoxShadowPrimaryMd,
                Lg: $theme-dark-materialBoxShadowPrimaryLg
            ),
            secondary: (
                Xs: $theme-dark-materialBoxShadowSecondaryXs,
                Sm: $theme-dark-materialBoxShadowSecondarySm,
                Md: $theme-dark-materialBoxShadowSecondaryMd,
                Lg: $theme-dark-materialBoxShadowSecondaryLg
            ),
            success: (
                Xs: $theme-dark-materialBoxShadowSuccessXs,
                Sm: $theme-dark-materialBoxShadowSuccessSm,
                Md: $theme-dark-materialBoxShadowSuccessMd,
                Lg: $theme-dark-materialBoxShadowSuccessLg
            ),
          /*   warning: (
                Xs: $theme-dark-materialBoxShadowWarningXs,
                Sm: $theme-dark-materialBoxShadowWarningSm,
                Md: $theme-dark-materialBoxShadowWarningMd,
                Lg: $theme-dark-materialBoxShadowWarningLg
            ),
            danger: (
                Xs: $theme-dark-materialBoxShadowDangerXs,
                Sm: $theme-dark-materialBoxShadowDangerSm,
                Md: $theme-dark-materialBoxShadowDangerMd,
                Lg: $theme-dark-materialBoxShadowDangerLg
            ),
            info: (
                Xs: $theme-dark-materialBoxShadowInfoXs,
                Sm: $theme-dark-materialBoxShadowInfoSm,
                Md: $theme-dark-materialBoxShadowInfoMd,
                Lg: $theme-dark-materialBoxShadowInfoLg
            ) */
        )
    )
) !default;

// Merge with shared...
$theme-dark: map-merge($theme-dark, $shared-theme);