.swal2-popup {
    background: $theme-dark-primaryColor;
}

.swal2-success-circular-line-left,
.swal2-success-circular-line-right,
.swal2-success-fix {
    background-color: $theme-dark-primaryColor !important;
}

.swal2-title, .swal2-content {
    color: $theme-dark-primaryAccentTextColor !important;
}