input, textarea {
        color: map-deep-get($themes, 'dark', 'colors', 'text', 'primary', 'main');
        &:focus {
            color: map-deep-get($themes, 'dark', 'colors', 'text', 'primary', 'accent');
        }
}