a {
        &:link,
        &:visited,
        &:hover,
        :active {
            text-decoration: none;
        }

        color: map-deep-get($themes, 'dark', 'colors', 'text', 'primary', 'accent');

        &.link {
            // color: map-deep-get('colors', 'link', 'main');
            transition-duration: map-deep-get($themes, 'dark', 'sharedTransitions', 'durations', 'Sm');
            transition-timing-function: map-deep-get($themes, 'dark', 'sharedTransitions', 'timingFunctions', 'ease');

            &:hover {
                color: map-deep-get($themes, 'dark', 'colors', 'link', 'hover');
                text-shadow: map-deep-get($themes, 'dark', 'linkTextShadow');
            }
        }

}