$btn-font-size-lg: $font-size-lg !default;
$btn-font-size: $font-size-base !default;
$btn-font-size-sm: $font-size-sm !default;
$btn-font-size-xs: 10px !default;

$btn-padding-lg: 16px 24px !default;
$btn-padding: 12px 20px !default;
$btn-padding-sm: 8px 15px !default;
$btn-padding-xs: 6px 10px !default;

$btn-fab-size-lg: 70px !default;
$btn-fab-size-sm: 46px !default;
$btn-fab-size-xs: 40px !default;

$btn-line-height: 1.2;