//Bootstrap Card Variables
$card-spacer-y: 20px;
$card-spacer-x: 24px;

//Border Radius
$border-radius-sm: 2px;
$border-radius: 2px;
$border-radius-lg: 6px;
$border-radius-xl: 10px !default;

//Grid Gutter Space Between
$grid-gutter-width: 24px;

//latter Spacing variables
$letter-spacing-base: 3px !default;
$letter-spacing-lg: 6px !default;
$letter-spacing-xl: 8px !default;