$font-family-base: 'Exo 2', sans-serif;

// stylelint-enable value-keyword-case
$font-size-base: 14px; // Assumes the browser default, typically `16px`
$font-size-lg: ($font-size-base + 4);
$font-size-sm: $font-size-base;

$h1-fontsize: 4.2rem;
$h2-fontsize: 3.56rem;
$h3-fontsize: 2.92rem;
$h4-fontsize: 2.28rem;
$h5-fontsize: 1.64rem;
$h6-fontsize: 1rem;

$headings-margin-bottom: 0;

// $headings-margin-bottom: ($h1-font-size / 2);

$headings-font-family: inherit;
$headings-font-weight: 400;
$headings-line-height: 1.2;
$headings-color: inherit;

$display1-size: 4rem;
$display2-size: 3.5rem;
$display3-size: 2.5rem;
$display4-size: 1.5rem;
// $display5-size: 0.5rem !default;

$display1-size-sm: 2.1rem;
$display2-size-sm: 1.5rem;
$display3-size-sm: 1.4rem;
$display4-size-sm: 1.1rem;