/* @import "../bootstrap/functions";
@import "../bootstrap/variables"; */

@import 'typography';
@import 'spacing';
@import 'colors';
@import 'layout';
// @import 'shadows'; MOVED TO SHARED-THEME
@import 'sizing';
@import 'buttons';
// @import 'transitions';

//Default Image Location
// $image_path: "../assets/images" !default;

//Side Nav Width
/* $side-nav-width: 280px !default;
$mini-drawer-width: 80px !default;

//App Bar Height
$app-bar-height: 70px !default; */

//Footer Height
// $footer-height: 50px !default;

//Custom Card Variables
/* $jr-card-shadow: $shadow !default;
$jr-card-margin: 24px !default;
$jr-card-padding: 18px $jr-card-margin !default;
$jr-border: 1px solid $gray-400 !default; */