/* Colors begin */
$shared-pure-white: #fff;
$shared-pure-black: #000;
/* Colors end */

/* Shadows begin */

// Shadows
// Box
// [+] Default begin...
$theme-shared-materialBoxShadowBlackXs: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !default;
$theme-shared-materialBoxShadowBlackSm: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !default;
$theme-shared-materialBoxShadowBlackMd: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !default;
$theme-shared-materialBoxShadowBlackLg: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !default;
// [-] Default end
/* Shadows end */

/* Transitions begin */
// https://material.google.com/motion/duration-easing.html#duration-easing-natural-easing-curves
$transition-bezier: .05, .74, .27, .99 !default;

$transition-ease: cubic-bezier(0.4, 0.0, 0.2, 1) !default;
$transition-ease-out: cubic-bezier(0.0, 0.0, 0.2, 1) !default;
$transition-ease-in: cubic-bezier(0.4, 0.0, 1, 1) !default;
$transition-throwIn: cubic-bezier(0.04, 0.01, 0.21, 1.38) !default;

$transition-duration-xs: 250ms !default;
$transition-duration-sm: 350ms !default;
$transition-duration-md: 500ms !default;
$transition-duration-lg: 800ms !default;
/* Transitions end */