@import './shared-variables';

$shared-theme: (
    pureWhite: $shared-pure-white,
    pureBlack: $shared-pure-black,
    sharedTransitions: (
        timingFunctions: (
            ease: $transition-ease,
            easeInOut: $transition-ease-out,
            easeIn: $transition-ease-in,
            throwIn: $transition-throwIn
        ),
        durations: (
            Xs: $transition-duration-xs,
            Sm: $transition-duration-sm,
            Md: $transition-duration-md,
            Lg: $transition-duration-lg,
        )
    ),
    sharedBoxShadow: (
        material: (
            pureBlack: (
                Xs: $theme-shared-materialBoxShadowBlackXs,
                Sm: $theme-shared-materialBoxShadowBlackSm,
                Md: $theme-shared-materialBoxShadowBlackMd,
                Lg: $theme-shared-materialBoxShadowBlackLg
        )
    )
    )
);