$shared-grey: (
50:  rgb(250, 250, 250),
100: rgb(245, 245, 245),
200: rgb(238, 238, 238),
300: rgb(224, 224, 224),
400: rgb(189, 189, 189),
base: rgb(158, 158, 158),
600: rgb(117, 117, 117),
700: rgb(97, 97, 97),
800: rgb(66, 66, 66),
900: rgb(33, 33, 33)
);

$shared-green: (
50: rgb(224, 242, 229),
100: rgb(179, 224, 190),
200: rgb(128, 203, 146),
300: rgb(77, 182, 102),
400: rgb(38, 166, 70),
base: rgb(0, 150, 37),
600: rgb(0, 142, 33),
700: rgb(0, 131, 27),
800: rgb(0, 121, 22),
900: rgb(0, 104, 13),
A100: rgb(151, 255, 157),
A200: rgb(100, 255, 109),
A400: rgb(49, 255, 61),
A700: rgb(24, 255, 37)
);

$shared-orange: (
50: rgb(255, 243, 224),
100:rgb(255, 226, 179),
200:rgb(255, 206, 128),
300:rgb(255, 186, 77),
400:rgb(255, 172, 38),
base:rgb(255, 157, 0),
600:rgb(255, 149, 0),
700:rgb(255, 139, 0),
800:rgb(255, 129, 0),
900:rgb(255, 111, 0),
A100:rgb(255, 255, 255),
A200:rgb(255, 247, 242),
A400:rgb(255, 215, 191),
A700:rgb(255, 199, 166)
);

$shared-red: (
50: rgb(246, 224, 224),
100:rgb(234, 179, 179),
200:rgb(220, 128, 128),
300:rgb(205, 77, 77),
400:rgb(195, 38, 38),
base:rgb(184, 0, 0),
600:rgb(177, 0, 0),
700:rgb(168, 0, 0),
800:rgb(160, 0, 0),
900:rgb(145, 0, 0),
A100:rgb(255, 189, 189),
A200:rgb(255, 138, 138),
A400:rgb(255, 87, 87),
A700:rgb(255, 61, 61)
);

$shared-blue: (
50: rgb(100, 148, 170),
100:rgb(179, 214, 234),
200:rgb(128, 187, 220),
300:rgb(77, 160, 205),
400:rgb(38, 139, 195),
base:rgb(0, 119, 184),
600:rgb(0, 111, 177),
700:rgb(0, 100, 168),
800:rgb(0, 90, 160),
900:rgb(0, 71, 145),
A100:rgb(189, 216, 255),
A200:rgb(138, 187, 255),
A400:rgb(87, 157, 255),
A700:rgb(61, 142, 255)
);

$shared-gray: (
50:  rgb(158, 158, 158),
100: rgb(250, 250, 250),
200: rgb(245, 245, 245),
300: rgb(238, 238, 238),
400: rgb(224, 224, 224),
base:rgb(188, 188, 188),
600: rgb(117, 117, 117),
700: rgb(97, 97, 97),
800: rgb(66, 66, 66),
900: rgb(33, 33, 33)
);

$shared-color-palettes: (
    shared-grey: map-merge($shared-grey, ()),
    shared-green: map-merge($shared-green, ()),
    shared-orange: map-merge($shared-orange, ()),
    shared-red: map-merge($shared-red, ()),
    shared-blue: map-merge($shared-blue, ()),
    shared-gray: map-merge($shared-gray, ())
);