@include media-breakpoint-down(sm) {

    .display-1 {
        font-size: $display1-size-sm;
    }

    .display-2 {
        font-size: $display2-size-sm;
    }

    .display-3 {
        font-size: $display3-size-sm;
    }

    .display-4 {
        font-size: $display4-size-sm;
    }

}