@import './assets/sass/gamble-playground-styles';

* {
    margin: 0;
    padding: 0;
}

html,
body {
    @include size(100%, 100%);
}

body {
    color: map-deep-get($themes, 'dark', 'colors', 'text', 'primary', 'accent');
    background-color: map-deep-get($themes, 'dark', 'colors', 'bodyBg');
    
    font: {
        family: $font-family-base;
    }

    & #root {
        @include size(100%, 100%);
    }
}