&.fab,
&.fab .btn-content {
    border-radius: 50% !important;

    box-shadow: map-deep-get($themes, 'dark', 'sharedBoxShadow', 'material', 'pureBlack', 'Md');

    &:hover {
        box-shadow: map-deep-get($themes, 'dark', 'sharedBoxShadow', 'material', 'pureBlack', 'Lg');
    }

}

&.normal {
    border-radius: 0;
}