@mixin BrandCommonHover() {

    &.btn-primary,
    &.btn-secondary {
        color: map-deep-get($themes, 'dark', 'colors', 'elem', 'secondary', 'main');

        & .btn-text {
            text-shadow: map-deep-get($themes, 'dark', 'textShadow', 'type', 'default');
        }
    }
}

.btn {
    position: relative;
    border: 0px;
    outline: none;
    transition: all .5s ease;
    cursor: pointer;

    & .btn-content {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        text-align: center;
        white-space: nowrap;
    }

    & .btn-icon {
        padding-right: 8px;
    }

    // Button Extras...
    & {
        @import './ButtonVariants';
        @import './ButtonShapes';
    }

    color: map-deep-get($themes, 'dark', 'colors', 'text', 'primary', 'accent');
    box-shadow: map-deep-get($themes, 'dark', 'sharedBoxShadow', 'material', 'pureBlack', 'Sm');
    transition-property: background,
    box-shadow,
    opacity,
    transform;
    transition-duration: map-deep-get($themes, 'dark', 'sharedTransitions', 'durations', 'Xs');
    transition-timing-function: map-deep-get($themes, 'dark', 'sharedTransitions', 'timingFunctions', 'ease');

    & .btn-text {
        position: relative;
        flex: 0;
        text-align: center;
        pointer-events: none;
        transition-property: color, text-shadow;
        transition-duration: map-deep-get($themes, 'dark', 'sharedTransitions', 'durations', 'Xs');
        transition-timing-function: map-deep-get($themes, 'dark', 'sharedTransitions', 'timingFunctions', 'ease');
    }

    // Hover...
    &:hover {
        box-shadow: map-deep-get($themes, 'dark', 'sharedBoxShadow', 'material', 'pureBlack', 'Md');
        @include BrandCommonHover();
    }

    & {
        @import './ButtonStates';
    }

    & {
        @import './ButtonSizes';
    }

}