
     &.btn-primary {
        background-color: map-deep-get($themes, 'dark', 'colors', 'elem', 'primary', 'main');
         &.btn-primary-outline {
             & .outline-line {
                 background-color: map-deep-get($themes, 'dark', 'colors', 'elem', 'secondary', 'main');
             }
         }
     }
     &.btn-secondary {
         background-color: map-deep-get($themes, 'dark', 'colors', 'elem', 'primary', 'accent');
         &.btn-secondary-outline {
            & .outline-line {
                background-color: map-deep-get($themes, 'dark', 'colors', 'elem', 'primary', 'accent');
            }
        }
     }
     &.btn-success {
         background-color: map-deep-get($themes, 'dark', 'colors', 'elem', 'success', 'main');
         &.btn-success-outline {
            & .outline-line {
                background-color: map-deep-get($themes, 'dark', 'colors', 'elem', 'success', 'main');
            }
        }
     }
     &.btn-warning {
         background-color: map-deep-get($themes, 'dark', 'colors', 'elem', 'warning', 'main');
         &.btn-warning-outline {
            & .outline-line {
                background-color: map-deep-get($themes, 'dark', 'colors', 'elem', 'warning', 'main');
            }
        }
     }
     &.btn-danger {
         background-color: map-deep-get($themes, 'dark', 'colors', 'elem', 'danger', 'main');
         &.btn-danger-outline {
            & .outline-line {
                background-color: map-deep-get($themes, 'dark', 'colors', 'elem', 'danger', 'main');
            }
        }
     }
     &.btn-info {
         background-color: map-deep-get($themes, 'dark', 'colors', 'elem', 'info', 'main');
         &.btn-info-outline {
            & .outline-line {
                background-color: map-deep-get($themes, 'dark', 'colors', 'elem', 'info', 'main');
            }
        }
     }
     &.btn-outline {
         background-color: transparent;
         box-shadow: none; //  overflow: hidden;
        //  transition-property: transform;
         &:hover {
            & .outline-line {
                transform: scale3d(1, 1, 1);
            }
        }
       
     } // Hover...
     &:hover {
         &.btn-primary {
             background-color: map-deep-get($themes, 'dark', 'colors', 'elem', 'primary', 'hover');
         }
         &.btn-secondary {
             background-color: map-deep-get($themes, 'dark', 'colors', 'elem', 'primary', 'hover');
         }
         &.btn-success {
             color: map-deep-get($themes, 'dark', 'colors', 'text', 'success');
             & .btn-text {
                 text-shadow: map-deep-get($themes, 'dark', 'textShadow', 'type', 'success');
             }
         }
         &.btn-warning {
             color: map-deep-get($themes, 'dark', 'colors', 'text', 'warning');
             & .btn-text {
                 text-shadow: map-deep-get($themes, 'dark', 'textShadow', 'type', 'warning');
             }
         }
         &.btn-danger {
             color: map-deep-get($themes, 'dark', 'colors', 'text', 'danger');
             & .btn-text {
                 text-shadow: map-deep-get($themes, 'dark', 'textShadow', 'type', 'danger');
             }
         }
         &.btn-info {
             color: map-deep-get($themes, 'dark', 'colors', 'text', 'info');
             & .btn-text {
                 text-shadow: map-deep-get($themes, 'dark', 'textShadow', 'type', 'info');
             }
         }
     }
 