 // Disabled State...
 &[disabled] {
     opacity: .7;
     pointer-events: none;

     & .btn-icon {
        display: none;
     }
 }

 /* States begin... */


     & .btn-disabled-icon {
         transition-property: transform, opacity;
         transition-duration: map-deep-get($themes, 'dark', 'sharedTransitions', 'durations', 'Sm');
         transition-timing-function: map-deep-get($themes, 'dark', 'sharedTransitions', 'timingFunctions', 'throwIn');
     }


 &.btn-enabled {
     & .btn-disabled-icon {
         opacity: 0;
         transform: scale3d(0, 0, 0);
         display: none;
     }
 }

 & .btn-disabled-icon {
    padding-left: 8px;
    flex: 1 0;
    font-size: 16px;
    
     &.btn-disabled-icon-enter {
         opacity: 1;
     }

     &.btn-disabled-icon-enter-active {
         opacity: 1;
         transform: scale3d(1, 1, 1);
     }

     &.btn-disabled-icon-enter-done {
         opacity: 1;
         transform: scale3d(1, 1, 1);
     }

     /* Exit start... */
     &.btn-disabled-icon-exit {
         transform: scale3d(0, 0, 0);
         opacity: 0;
     }

     /* Exit end... */
     &.btn-disabled-icon-exit-done {
         opacity: 0;
         transform: scale3d(0, 0, 0);
         position: absolute;
     }

 }