/* Border */
.has-border {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

$border-positions: ("top", "right", "bottom", "left");

@mixin CreatePositions($color) {
    @each $border-position in $border-positions {

        &.border-#{$border-position}-position {
            border-#{$border-position}-color: $color;
            padding-#{$border-position}: 0.5rem;
        }

    }
}

// Colors...
.border-primary-color {
    @include CreatePositions(map-deep-get($themes, 'dark', 'colors', 'text', 'primary', 'accent'));
}

.border-secondary-color {
    @include CreatePositions(map-deep-get($themes, 'dark', 'colors', 'elem', 'secondary', 'main'));
}

.border-success-color {
    @include CreatePositions(map-deep-get($themes, 'dark', 'colors', 'elem', 'success', 'main'));
}

.border-warning-color {
    @include CreatePositions(map-deep-get($themes, 'dark', 'colors', 'elem', 'warning', 'main'));
}

.border-info-color {
    @include CreatePositions(map-deep-get($themes, 'dark', 'colors', 'elem', 'info', 'main'));
}

.border-danger-color {
    @include CreatePositions(map-deep-get($themes, 'dark', 'colors', 'elem', 'danger', 'main'));
}