$cardCommonPadding: 8px 30px;

.card {

    background-color: map-deep-get($themes, 'dark', 'colors', 'elem', 'primary', 'main');
    position: relative;
    z-index: LayoutLevel('lower');

    &:not(.no-shadow) {
        box-shadow: map-deep-get($themes, 'dark', 'sharedBoxShadow', 'material', 'pureBlack', 'Sm');
    }

    & .card-footer {
        display: flex;
        flex-direction: row;

        &.flow-right {
            flex-direction: row-reverse;
        }
    }

    // Common...
    & .card-title,
    & .card-body,
    & .card-footer {
        padding: $cardCommonPadding;
    }

    /* States begin... */
    &:not(.no-hover) {
        transition-property: all;
        transition-duration: map-deep-get($themes, 'dark', 'sharedTransitions', 'durations', 'Xs');
        transition-timing-function: map-deep-get($themes, 'dark', 'sharedTransitions', 'timingFunctions', 'ease');

        &:hover {
            box-shadow: map-deep-get($themes, 'dark', 'sharedBoxShadow', 'material', 'pureBlack', 'Lg');
        }
    }

}