.line-tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;

    & .content {
        background: map-deep-get($themes, 'dark', 'colors', 'elem', 'secondary', 'main');
    }

}

.content {
    padding: 5px;
    text-align: center;
    white-space: nowrap;
}

.line {
    flex: 0 1 auto;
    margin: 0 5px;
}